doctype html
html
    head
        title="checkMyToken"
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    body
        nav
            div.nav-wrapper.indigo.darken-1
                a.center.brand-logo checkMyToken
        div.center-align
            h5 Hospital detail
            div
                table.centered.striped
                    tbody
                        tr
                            th Hospital Name
                            td=hospital_name
                        tr
                            th Hospital Location
                            td=hospital_location
                        tr
                            th Contact Number
                            td=hospital_contact_number
        div.center-align
            h5 Doctor detail
            div
                table.centered.striped
                    tbody
                        tr
                            th Doctor Name
                            td=doctor_name
                        tr
                            th Status
                            if(doctor_status)
                                td
                                    span.badge.green.darken-1.white-text Active
                            else
                                td
                                    span.badge.red.lighten-1.white-text Inactive
                        if(doctor_status)
                            tr
                                th Token
                                td=doctor_token_number